$border : #808080;
$bg: #3399ff;
$text-color: #595959;
$alert-bg: #ff8080;
$bgc-header: #404040;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text-color;
  background: #f2f2f2;
}

.signUpTable {
  border: 1px solid $border;
  width: 90%;
  max-width: 800px;
  margin: 150px auto;
  border-radius: 4px;
}

.signUpTable_title {
  text-align: center;
  background: $bg;
  margin-top: 0;
  padding: 10px;
  color: white;
  background: $bgc-header;
}

.input-field {
  width: 100%;
  padding-left: 10px;
}

.input-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
}

.input-container select {
  width: 100%;
  height: 25px;
  color: $text-color;
}

input:focus {
  outline:none;
  background-color: #fff;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $text-color;
  -webkit-box-shadow: 10px 10px 10px 10px #ffffff inset;
}

.icon {
  text-align: center;
  color: white;
  background: $bg;
  padding: 5px;
  min-width: 50px;
  border-radius: 4px 0 0 4px;
  background: $bgc-header;
}

.checkboxText {
  margin-left: 10px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

input {
  color: $text-color;
}

.btn {
  background: blue;
  color: white;
  position: relative;
  width: 30%;
  font-size: 20px;
  left: 70%;
  text-align: center;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

button:hover {
  background: $text-color;
  color: #f2f2f2;
}

button:active {
  transform: scale(1.2, 1.2);
}

.alert {
  position: absolute;
  width: 70%;
  top: 50px;
  left: 15%;
  background: $alert-bg;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
}
